/* @font-face {
  font-family: NotoNaskhArabic;
  src: url(../fonts/NotoNaskhArabic-Regular.ttf);
} */
@font-face {
  font-family: mySegoe-ui;
  src: url(../fonts/segoe-ui.ttf);
}
body {
  font-family: mySegoe-ui, -apple-system, NotoNaskhArabic, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 0.5rem 3rem;
  min-height: calc(100vh - 4rem);
  position: relative;
  user-select: none;
  background: var(--main-window-bg);
  /* scroll-behavior: smooth; */
  /* direction: rtl; */
}
html {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

h2 {
  margin: 8px;
}

#tools_bar {
  display: flex;
  align-items: center;
  position: sticky;
  background: var(--main-window-bg);
  top: -1px;
  padding: 10px 14px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
}

#tools_bar > * {
  margin-right: 7px;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

#main-wrapper > div {
  flex: 1;
  text-align: right;
  padding: 0.5rem;
}

#main-wrapper > :not(:last-child) {
  border-right: 1px solid var(--gray-1);
}

.song-preview .slide {
  text-align: center;
  direction: rtl;
  padding: 1rem;
  border: 2px dashed rgb(216, 216, 216);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.2s;
}

.song-preview .slide div {
  transition: color 0.2s;
}

.song-preview .chorus {
  font-weight: bold;
}

.big.selectedSong,
.song-preview .active {
  border: 2px solid var(--primary);
}

.song-preview .bible-verse div {
  text-align: right;
}
.song-title {
  direction: rtl;
  text-align: center;
  margin-bottom: 10px;
  position: sticky;
  top: 68px;
  background: var(--main-window-bg);
  border-bottom: 1px solid var(--gray-1);
  padding: 1em 0px;
  margin-top: 0;
}

.song-info {
  text-align: left;
  margin: 5px;
}

.big {
  background: var(--gray-1);
  border: 2px solid var(--gray-1);
  direction: rtl;
  cursor: pointer;
  padding: 1rem;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: #9090901a 0px 1px 3px 0px, #9090901a 0px 1px 2px 0px;
}

.big.chapter .verses {
  text-align: right;
}

.big h2 {
  margin-top: 0;
}

.big:hover {
  background: var(--gray-2);
}

.big {
  position: relative;
}

.plus,
.delete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: transform 0.2s;
}
.plus:hover,
.delete:hover {
  opacity: 1;
  transform: scale(1.2);
}

#title-input {
  padding: 10px;
  width: calc(100% - 35px);
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-right: 5px;
  /* width: 93%; */
  background: var(--main-window-bg);
  text-align: right;
  direction: rtl;
}

/* input#fontSize, */
button#white,
button#bold,
button#installBtn {
  padding: 10px 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  align-self: stretch;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#white img {
  width: 30px;
}
.gray-hover:active {
  transform: scale(0.96);
}

button#installBtn {
  /* margin-left: 14px; */
  font-size: 0.7rem;
  padding: 5px 7px;
  display: none;
  font-weight: bold;
}
button#extendSongWindowButton {
  display: flex;
  /* auto extend enabled */
  /* display: none; */
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}
/* input#fontSize {
  width: 44px;
  padding: 10px;
} */

#fontSizeContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}

#fontSizeButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#fontSizePlus {
  border: 0px;
  border-bottom: 1px solid var(--primary);
}

#fontSizeMinus {
  border: 0px;
}

#fontSizeButtons button {
  background: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}

#fontSizeButtons button img {
  width: 14px;
}

.gray-hover {
  transition: all 0.2s ease;
}
.gray-hover:hover {
  /* color: transparent; */
  /* text-shadow: 0 0 0 whitesmoke; */
  background-color: var(--gray-hover) !important;
}

.bold.gray-hover:hover {
  background-color: #ce3d42 !important;
}

#fontSizeContainer #fontSize {
  border-right: 1px solid var(--primary);
  /* height: 100%; */
  padding: 1px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

button#bold {
  width: 70px;
  display: none;
}

button.bold {
  font-weight: bold;
  background-color: var(--primary) !important;
  color: var(--main-window-bg) !important;
}

/* dark mode switch */

.chorusSymbol,
.verseNumber {
  display: block;
  font-size: 0.65em;
  color: var(--primary);
  margin-bottom: 1em;
}

/* deep mode check */
#deep_mode_input {
  display: none;
  width: 10px;
  display: none;
}

#deep_mode_label {
  cursor: pointer;
  display: none;
}

#deep_mode_input + label:before {
  background-image: url(../img/fast.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  content: "";
}

#deep_mode_input:checked + label:before {
  background-image: url(../img/snail2.png);
}

#version {
  /* margin-bottom: 1rem; */
  display: inline-block !important;
  padding: 7px 14px;
  font-size: 0.75rem;
  font-weight: 700;
  /* display: flex; */
  /* margin: 24px 0px; */
  align-items: center;
}

/* .hide{display: none} */
.pause {
  background: #f7f7f7;
  color: #bebebe;
}

#slide-screen {
  width: 45px;
  height: 25px;
  background: #313336;
  color: whitesmoke;
  position: sticky;
  bottom: 30px;
  font-size: 18px;
  left: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}

.waiting-mode .plus,
.waiting-mode #waiting-wrapper {
  display: none;
}

#list-toggle-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  /* margin-left: 0.7rem; */
  border-left: 2px solid var(--gray-1);
}

#list-toggle-group * {
  margin: 0;
}
#list-toggle-group input {
  width: 1.8rem;
  height: 1.8rem;
  transform: translate(-0.4rem, 0.15rem);
}

#list-toggle-group img {
  width: 1.5rem;
  margin: 0 10px;
}

#waiting-wrapper {
  background: #d2efff29;
}

#waiting_mode_input {
  cursor: pointer;
}

.btn {
  background-color: var(--main-window-bg);
  color: var(--main-window-bg);
  font-size: 40px;
  padding: 20px 20px;
}

/*ripple effect*/
.ripple {
  position: relative;
  overflow: hidden;
  transition: all 1s;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, grey 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

#siblingChaptersBtns {
  display: none;
  direction: rtl;
  width: 49px;
  position: sticky;
  height: 0;
  top: 50vh;
  right: 5px;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  transform: translateX(45px);
}

#siblingChaptersBtns button {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0.65;
  font-weight: bold;
}

#siblingChaptersBtns #prevChapter {
  position: absolute;
  top: 0;
  border-radius: 50px 50px 1px 1px;
}
#siblingChaptersBtns #prevChapter:hover {
  transform: translateY(-3px);
}

#siblingChaptersBtns #nextChapter {
  position: absolute;
  top: 50px;
  border-radius: 1px 1px 50px 50px;
}
#siblingChaptersBtns #nextChapter:hover {
  transform: translateY(3px);
}

#siblingChaptersBtns button:hover {
  /* transform: scale(1.1); */
  opacity: 1;
  border: 1px solid var(--primary);
}

[data-chapterindex="null"] {
  display: none;
}

.handle {
  cursor: grab;
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 16px;
  height: 16px;
  background-image: url(../img/drag.png);
  background-position: center;
  background-size: auto;
  padding: 12px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  transition: all 0.3s;
  opacity: 0;
  border: 1px solid transparent;
}

.big:hover .handle {
  opacity: 0.5;
}

.big .handle:hover {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 8px;
  opacity: 0.8;
}

.sortable-ghost {
  opacity: 0.3;
}

#scroll-top {
  position: sticky;
  right: 39px;
  bottom: 30px;
  background: var(--gray-1);
  width: 40px;
  margin-left: auto;
  z-index: 10;
  transform: translateX(2.5rem);
  cursor: pointer;
  border-radius: 5px;
  padding: 0px;
  transform-origin: center;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#scroll-top:hover {
  background: var(--gray-2);
}

#scroll-top img {
  width: 18px;
}

/* plus click feedback */
.yellowCheck {
  width: 32px;
  height: 32px;
  background-image: url(../img/success.png);
  scale: 0.9;
  position: absolute;
  opacity: 1;
  transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}
.rightHand {
  width: 32px;
  height: 32px;
  background-image: url(../img/rightHand.png);
  scale: 0.9;
  position: absolute;
  opacity: 1;
  transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}
