:root {
  /* --primary: #ff7e67; */
  /* --primary: #67ff6a; */
  --main-window-bg: #fdfdfd;
  --primary: #ca2328;

  --dark: #15171d;

  --secondary: #07689f;
  --gray-hover: rgba(221, 221, 221, 0.4);
  --gray-1: rgba(221, 221, 221, 0.7);
  --gray-2: rgba(221, 221, 221, 0.9);
}
