:root {
  /* --primary: #ff7e67; */
  /* --primary: #67ff6a; */
  /* --main-window-bg: #fdfdfd; */
  --main-window-bg: #f8f8f8;
  --primary: #ca2328;

  --dark: #15171d;

  --secondary: #07689f;
  --gray-hover: rgba(221, 221, 221, 0.4);
  --gray-1: rgba(221, 221, 221, 0.3);
  --gray-2: rgba(221, 221, 221, 0.5);

  --border-radius-1: 12px;
}

.next_slide_starting_line {
  color: var(--primary);
  border-top: 1px dashed gray;
  padding-top: 10px;
  margin-top: 10px;
}

#first-screen-body .next_slide_starting_line,
#second-screen-body .next_slide_starting_line {
  display: none !important;
}
