/* @import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap"); */

/* .fake {
  font-family: MyCalibri;
  font-weight: bold;
  color: transparent;
  height: 0px;
  position: absolute;
} */

@font-face {
  font-family: MyTimesNewRoman;
  /* src: url(../fonts/times-new-roman.ttf); */
  /* to go back to having bold button remove next line, uncomment the past line, and uncomment the next @font-face */
  /* also un-bold the bible-container class */
  src: url(../fonts/times-new-roman-bold.ttf);
}
/* @font-face {
  font-family: MyTimesNewRoman;
  src: url(../fonts/times-new-roman-bold.ttf);
  font-weight: bold;
} */
@font-face {
  font-family: MyCalibri;
  /* src: url(../fonts/calibri.ttf); */
  /* to go back to having bold button remove next line, uncomment the past line, and uncomment the next @font-face */
  src: url(../fonts/calibri-bold.ttf);
}
/* @font-face {
  font-family: MyCalibri;
  src: url(../fonts/calibri-bold.ttf);
  font-weight: bold;
} */
html {
  height: 100%;
  direction: rtl !important;
  font-family: MyCalibri;
  cursor: none;
}
body {
  color: rgb(25, 25, 25);
  /* color: rgb(21, 23, 29); */
  /* background-color: #fcfcfc; */
  background-color: #f9f9f9;
  user-select: none;

  min-height: 90vh;
  padding: 5vh 6vw;
  margin: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-image: url("../img/clean-gray-paper-40.png"); */
  /* background-image: url("../img/cream-paper.png"); */
  background-repeat: repeat;
  transition: opacity 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

#content {
  /* position: relative; */
  /* font-size: 5.5rem; */
  /* display: flex; */
  height: 88vh;
  /* text-align: center; */
  /* padding: 0.2em; */
  /* line-height: 1.3em; */
  /* max-width: 90vw; */
  /* transition: 0.3s; */
}

/* .container { */
/* display: flex;
  flex-direction: column; */
/* } */

.container .body {
  position: relative;
}

.container .song-body {
  line-height: 1.35em;
}

.container * {
  margin: 0;
  text-shadow: 2px 3px 4px rgba(207, 207, 207, 0.9);
}

/* bible style */
.bible-container {
  /* font-family: "Scheherazade New"; */
  font-family: MyTimesNewRoman;
  font-weight: bold;
  /* font-family: "Noto Naskh Arabic", serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 500; */
  /* font-style: normal; */
}
.bible-head {
  text-align: center;
  padding-bottom: 2.7vw;
  /* padding-top: 1vw; */
  line-height: 1em;
  font-size: 3.8vw;
  color: var(--primary);

  display: flex;
  justify-content: center;
  gap: 5vw;
}
.bible-head .chapter-title-en {
  display: block !important;
}

.verse-info {
  display: none !important;
}
.bible-body {
  padding-right: 4vw;
  font-size: 6.9vw;
  line-height: 1.45em;
  height: 80vh;
}

/* the actual bible verse */
.bible-body > div {
  line-height: 1.35em !important;
  /* -webkit-text-stroke-width: 1px; */
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
}
.bible-body .verseNumber {
  font-size: 3.5vw;
  transform: translate(2.2vw, -0.3vw);
}
body:has(.song-body) {
  font-size: 7vw;
}
.song-body {
  padding-right: 3rem;
  /* font-size: 5.6rem; */
  /* font-size: 7vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.song-container {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* song style */
.dark {
  /* background-color: rgba(0, 0, 0, 0.95); */
  background-image: none;
  background-color: var(--dark);
  color: whitesmoke;
}
.dark * {
  text-shadow: none;
}
.fade-in-out {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.fade-in-out.show {
  opacity: 1;
}

.bold {
  font-weight: bold;
}

.chorusSymbol,
.verseNumber {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.7rem, -0.3rem);
  display: block;
  font-size: 0.5em;
  color: var(--primary);
}

.verse-line {
  display: flex;
  justify-content: center;
}

.repeat-number {
  margin-right: 15px;
  font-size: 0.7em;
  transform: translateY(0.3em);
}
