/* @import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap"); */

/* .fake {
  font-family: MyCalibri;
  font-weight: bold;
  color: transparent;
  height: 0px;
  position: absolute;
} */

@font-face {
  font-family: MyTimesNewRoman;
  /* src: url(../fonts/times-new-roman.ttf); */
  /* to go back to having bold button remove next line, uncomment the past line, and uncomment the next @font-face */
  /* also un-bold the bible-container class */
  src: url(../fonts/times-new-roman-bold.ttf);
}
/* @font-face {
  font-family: MyTimesNewRoman;
  src: url(../fonts/times-new-roman-bold.ttf);
  font-weight: bold;
} */

/* moved mycalibri to main.css */

/* @font-face {
  font-family: MyCalibri;
  src: url(../fonts/calibri-bold.ttf);
  font-weight: bold;
} */
html {
  height: 100%;
  direction: rtl !important;
  font-family: MyCalibri;
  cursor: none;
}
body {
  color: rgb(25, 25, 25);
  background-color: #f9f9f9;
  user-select: none;

  min-height: 90vh;
  padding: 5vh 6vw;
  margin: 0;
  background-repeat: repeat;
  transition: opacity 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

#content {
  /* position: relative; */
  /* font-size: 5.5rem; */
  /* display: flex; */
  height: 88vh;
  /* text-align: center; */
  /* padding: 0.2em; */
  /* line-height: 1.3em; */
  /* max-width: 90vw; */
  /* transition: 0.3s; */
}

/* .container { */
/* display: flex;
  flex-direction: column; */
/* } */

.container .body {
  position: relative;
}

.container .song-body {
  line-height: 1.35em;
}

.container * {
  margin: 0;
  text-shadow: 2px 3px 4px rgba(207, 207, 207, 0.9);
}

/* bible style */
.bible-container {
  /* font-family: "Scheherazade New"; */
  font-family: MyTimesNewRoman;
  font-weight: bold;
  /* font-family: "Noto Naskh Arabic", serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 500; */
  /* font-style: normal; */
}
.bible-head {
  text-align: center;
  padding-bottom: 2.7vw;
  /* padding-top: 1vw; */
  line-height: 1em;
  font-size: 3.8vw;

  display: flex;
  justify-content: center;
  gap: 5vw;
}
.bible-head .chapter-title-en {
  display: block !important;
}

.verse-info {
  display: none !important;
}

/* bible font size */
.bible-body {
  padding-right: 4vw;
  font-size: 7.3vw;
  line-height: 1.45em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Default to center/middle */
}

/* the actual bible verse */
.bible-body > div {
  line-height: 1.35em !important;
  /* -webkit-text-stroke-width: 1px; */
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
}
.bible-body .verseNumber {
  font-size: 3.5vw;
  transform: translate(2.2vw, -0.3vw);
}
body:has(.song-body) {
  font-size: 7vw;
}
.song-body {
  padding-right: 3rem;
  /* font-size: 5.6rem; */
  /* font-size: 7vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.song-container {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* song style */
/* .dark {
  background-image: none;
  background-color: var(--dark);
  color: whitesmoke;
}
.dark * {
  text-shadow: none;
} */
.fade-in-out {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.fade-in-out.show {
  opacity: 1;
}

.bold {
  font-weight: bold;
}
.chorusSymbol,
.verseNumber {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.7rem, -0.3rem);
  display: block;
  font-size: 0.5em;
}

.verse-line {
  display: flex;
  justify-content: center;
}

.repeat-number {
  margin-right: 15px;
  font-size: 0.7em;
  transform: translateY(10px);
}

span.author{
    font-style: italic;
    font-size: 5rem;
    margin-top: 56px;
}

/* Center Alignment Styles */
[data-alignment="center"] .bible-body {
    text-align: center;
    padding-right: 0px;
    padding-top: 2vh;
    height: 78vh;
}

/* Target the inner div containing text */
[data-alignment="center"] .bible-body > div > div {
    text-align: center;
}

.first-word-wrapper {
    position: relative;
    display: inline-block;
}

/* Default state: Hidden */
.verse-number-center {
    display: none;
    position: absolute;
    top: 15%;
    right: -110%;
    width: 100%;
    text-align: left;
    color: var(--primary);
    font-size: 0.35em;
    line-height: 1;
}

/* Center Alignment state: Visible */
[data-alignment="center"] .verse-number-center {
    display: block;
}
[data-alignment="center"] .verseNumber {
    display: none !important;
}

/* Default state: Visible (standard verse number) */
.bible-body .verseNumber {
    display: block;
}

/* Center Alignment state: Hidden */
/* Vertical Alignment Overrides */
[data-vert-alignment="top"] .song-body,
[data-vert-alignment="top"] .bible-body {
    justify-content: flex-start;
    /* padding-top: 10vh; */
}

[data-vert-alignment="center"] .song-body,
[data-vert-alignment="center"] .bible-body {
    justify-content: center;
    padding-top: 0;
}