@font-face {
  font-family: ibm-plex;
  src: url(../fonts/IBMPlexSansArabic-SemiBold.ttf);
}

@font-face {
  font-family: traditional-arabic;
  src: url(../fonts/Traditional-Arabic.ttf);
}

@font-face {
  font-family: din-next;
  src: url(../fonts/DINNextLTArabic-Bold-3.ttf);
}
@font-face {
  font-family: adobe-arabic;
  src: url(../fonts/adobe-arabic-bold.otf);
}
@font-face {
  font-family: mySegoe-ui;
  src: url(../fonts/segoe-ui.ttf);
}

/* alignment */

body[data-alignment="top-1"] .song-container,
body[data-alignment="top-2"] .song-container {
  justify-content: flex-start;
}
body[data-alignment="bottom-1"] .song-container,
body[data-alignment="bottom-2"] .song-container {
  justify-content: flex-end;
}

/* light theme */
body[data-theme="light"] {
  color: rgb(25, 25, 25);
  background-color: #f9f9f9;
}
body[data-theme="light"] .chorusSymbol,
body[data-theme="light"] .verseNumber{
  color: var(--primary);
}

/* dark theme */
body[data-theme="dark"] {
  background-image: none;
  background-color: var(--dark);
  color: whitesmoke;
  text-shadow: none;
}

body[data-theme="dark"] * {
  text-shadow: none;
}

body[data-theme="dark"] .chorusSymbol,
body[data-theme="dark"] .verseNumber,
body[data-theme="dark"] .bible-head {
  color: var(--primary);
}


/* black theme */
body[data-theme="black"] {
  background-image: none;
  background-color: #000;
  color: whitesmoke;
  text-shadow: none;
}

body[data-theme="black"] * {
  text-shadow: none;
}

body[data-theme="black"] .chorusSymbol,
body[data-theme="black"] .verseNumber,
body[data-theme="black"] .bible-head {
  color: var(--primary);
}


/* wedding 1 */
/* songs */
body[data-theme="wedding1"] {
  background-image: url("../img/wedding1.jpg");
  background-size: cover;
  color: #2c1e13;
}

/* bible style */
body[data-theme="wedding1"]:has(#content > .bible-container) {
  background: #fff6ef;
  background-image: none;
}

/* wedding 2 */
/* default */
body[data-theme="wedding2"] {
  background-image: url("../img/wedding2.png");
  background-size: cover;
  color: #273546;
}

/* song style */
body[data-theme="wedding2"]:has(#content > .song-container) {
  background-image: url("../img/wedding2.png");
  /* font-family: ibm-plex; */
}

body[data-theme="wedding2"] .song-body {
  line-height: 1.45em;
}

/* bible style */
body[data-theme="wedding2"]:has(#content > .bible-container) {
  background-image: url("../img/wedding2-bible.png");
}

/* accent */
body[data-theme="wedding2"] .chorusSymbol,
body[data-theme="wedding2"] .verseNumber,
body[data-theme="wedding2"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

/* Christmas  */
/* default */
body[data-theme="christmas"] {
  background-image: url("../img/christmas.png");
  background-size: cover;
  color: #273546;
}

/* song style */
body[data-theme="christmas"]:has(#content > .song-container) {
  background-image: url("../img/christmas.png");
  /* font-family: ibm-plex; */
}

body[data-theme="christmas"] .song-body {
  line-height: 1.45em;
}

/* bible style */
body[data-theme="christmas"]:has(#content > .bible-container) {
  background-image: url("../img/christmas-bible.png");
}

/* accent */
body[data-theme="christmas"] .chorusSymbol,
body[data-theme="christmas"] .verseNumber,
body[data-theme="christmas"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

/* Christmas Simple */
/* default */
body[data-theme="christmas-simple"] {
  background-image: url("../img/christmas-bible.png");
  background-size: cover;
  color: #273546;
}

/* song style */
body[data-theme="christmas-simple"]:has(#content > .song-container) {
  background-image: url("../img/christmas-bible.png");
  /* font-family: ibm-plex; */
}

body[data-theme="christmas-simple"] .song-body {
  line-height: 1.45em;
}

/* bible style */
body[data-theme="christmas-simple"]:has(#content > .bible-container) {
  background-image: url("../img/christmas-bible.png");
}

/* accent */
body[data-theme="christmas-simple"] .chorusSymbol,
body[data-theme="christmas-simple"] .verseNumber,
body[data-theme="christmas-simple"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

/* Christmas Dark */
/* default */
body[data-theme="christmas-dark"] {
  background-image: url("../img/christmas-dark.jpg");
  background-size: cover;
  color: whitesmoke;
}

/* song style */
body[data-theme="christmas-dark"]:has(#content > .song-container) {
  background-image: url("../img/christmas-dark.jpg");
  /* font-family: ibm-plex; */
}

body[data-theme="christmas-dark"] .song-body {
  line-height: 1.45em;
}

/* bible style */
body[data-theme="christmas-dark"]:has(#content > .bible-container) {
  background-image: url("../img/christmas-dark-bible.jpg");
}

/* accent */
body[data-theme="christmas-dark"] .chorusSymbol,
body[data-theme="christmas-dark"] .verseNumber,
body[data-theme="christmas-dark"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

body[data-theme="christmas-dark"] * {
  text-shadow: none;
}

/* Christmas Dark Simple */
/* default */
body[data-theme="christmas-dark-simple"] {
  background-image: url("../img/christmas-dark-bible.jpg");
  background-size: cover;
  color: whitesmoke;
}

/* song style */
body[data-theme="christmas-dark-simple"]:has(#content > .song-container) {
  background-image: url("../img/christmas-dark-bible.jpg");
  /* font-family: ibm-plex; */
}

body[data-theme="christmas-dark-simple"] .song-body {
  line-height: 1.45em;
}

/* bible style */
body[data-theme="christmas-dark-simple"]:has(#content > .bible-container) {
  background-image: url("../img/christmas-dark-bible.jpg");
}

/* accent */
body[data-theme="christmas-dark-simple"] .chorusSymbol,
body[data-theme="christmas-dark-simple"] .verseNumber,
body[data-theme="christmas-dark-simple"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

body[data-theme="christmas-dark-simple"] * {
  text-shadow: none;
}



/* el soora */

/* elsoora light */
/* default */
body[data-theme="elsoora-light"] {
  background-image: url("../img/elsoora-light.jpeg");
  background-size: cover;
  color: #2E2E32;
}


body[data-theme="elsoora-light"] .verse-number-center,
body[data-theme="elsoora-light"] .verseNumber{
  color: #2E2E32;
}

/* song style */
body[data-theme="elsoora-light"]:has(#content > .song-container) {
  font-family: traditional-arabic;
}

/* bible style */
body[data-theme="elsoora-light"]:has(#content > .bible-container) *{
  font-family: din-next;
}

/* accent */
body[data-theme="elsoora-light"] .chorusSymbol,
body[data-theme="elsoora-light"] .verseNumber,
body[data-theme="elsoora-light"] .bible-head {
  /* color: #f5d486; */
  color: #a02323;
}

/* elsoora dark */
/* default */
body[data-theme="elsoora-dark"] {
  background-image: url("../img/elsoora-dark.jpeg");
  background-size: cover;
  color: #D9C39A;
}
body[data-theme="elsoora-dark"] .verse-number-center,
body[data-theme="elsoora-dark"] .verseNumber{
  color: #D9C39A;
}
body[data-theme="elsoora-dark"] .container *{
  text-shadow: 2px 3px 4px rgb(34 34 34 / 90%);
}

/* song style */


/* bible style */

/* accent */
body[data-theme="elsoora-dark"] .chorusSymbol,
body[data-theme="elsoora-dark"] .song-body .verseNumber,
body[data-theme="elsoora-dark"] .bible-head {
  /* color: #f5d486; */
  color: #D98E02;
}

.bible-head .chapter-title-en{
  display: none !important
}
