:root {
  --primary: #ff7e67;
  --secondary: #07689f;
   --gray-1: rgba(221, 221, 221, 0.6);
  --gray-2: rgba(221, 221, 221, 0.8);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  user-select: none
  /* scroll-behavior: smooth; */
  /* direction: rtl; */
}

#tools_bar {
  display: flex;
  align-items: center;
}

#tools_bar > * {
  margin-right: 5px;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}

#main-wrapper > div {
  flex: 1;
}

.song-preview .chorus,
.song-preview .verse {
  text-align: center;
  direction: rtl;
  padding: 1rem;
  border: 2px dashed rgb(216, 216, 216);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.2s;
}

.song-preview .chorus div,
.song-preview .verse div{
  transition: color 0.2s;
  
}


.song-preview .chorus {
  font-weight: bold;
}

#search_output .song.selectedSong,
.song-preview .active {
  border: 2px solid var(--primary);
}
.song-title {
  text-align: center;
  margin-bottom: 35px;
}

#search_output .song {
  background: var(--gray-1);
  border: 2px solid var(--gray-1);
  direction: rtl;
  cursor: pointer;
  padding: 1rem;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: #9090901a 0px 1px 3px 0px, #9090901a 0px 1px 2px 0px;
}

.song h2{
  margin-top: 0;
}

#search_output .song:hover {
  background: var(--gray-2);
}

#title-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  width: 93%;
  text-align: right;
  direction: rtl;
}

button#white,
button#bold,
input#fontSize {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ffffff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input#fontSize{
  width: 44px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}


input#fontSize {
  padding: 10px;
}

button#white:hover,
button#bold:hover {
  background-color: var(--primary);
  color: white;
}

button.bold {
  font-weight: bold;
  background-color: var(--primary) !important;
  color: white !important;
}

/* dark mode switch */
input#dark_mode_input {
  height: 0;
  width: 0;
  visibility: hidden;
}

label#dark_mode_label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: var(--gray-1);
  display: inline-block;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

label#dark_mode_label:hover {
  background: var(--gray-2);
}

label#dark_mode_label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 90px;
  transition: 0.2s;
}

input#dark_mode_input:checked + label {
  background: rgba(0, 0, 0, 0.95);
}

input#dark_mode_input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label#dark_mode_label:active:after {
  width: 50px;
}

.chorusSymbol, .verseNumber{
  display: block;
  font-size: 0.65em;
  color: var(--primary);
  margin-bottom: 1em;
}

/* deep mode check */
#deep_mode_input {
  display: none;
  width: 10px;
}

#deep_mode_label{
  cursor: pointer;
}

#deep_mode_input + label:before {
  background-image: url(./img/fast.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  width: 30px; 
  height: 30px; 
  content:"";
}

#deep_mode_input:checked + label:before {
  background-image: url(./img/snail2.png);
}

#version{
  margin-bottom: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  
}

.pause{
  background: #f7f7f7;
  color: #bebebe;
}