body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  scroll-behavior: smooth;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}

#main-wrapper > div {
  flex: 1;
}

.song-preview .chorus,
.song-preview .verse {
  text-align: center;
  padding: 1rem;
  border: 1px dashed rgb(216, 216, 216);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.song-preview .chorus {
  font-weight: bold;
}

.song-preview .active,
.song-preview .active {
  border: 1px solid tomato;
}
.song-title {
  text-align: center;
  margin-bottom: 35px;
}

#search_output .song {
  background: rgba(221, 221, 221, 0.5);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

#search_output .song:hover {
  background: rgba(221, 221, 221, 0.7);
}


#title-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 93%;
  text-align: right;
}

button#white, button#bold, input#fontSize{
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ffffff;
  color: tomato;
  border: 1px solid tomato;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input#fontSize{
  padding: 10px;
}

button#white:hover, button#bold:hover {
  background-color: tomato;
  color: white;
}

button.bold{
  font-weight: bold;
background-color: tomato !important;
color: white !important;
}