:root {
    /* --primary: #ff7e67; */
    /* --primary: #67ff6a; */
    --primary: #ca2328;

    --secondary: #07689f;
    --gray-1: rgba(221, 221, 221, 0.7);
    --gray-2: rgba(221, 221, 221, 0.9);
  }