:root {
  --primary: #ff7e67;
  /* --primary: #67ff6a; */
  --secondary: #07689f;
  --gray-1: rgba(221, 221, 221, 0.7);
  --gray-2: rgba(221, 221, 221, 0.9);
}

#content {
  position: relative;
  font-size: 5.5rem;
  text-align: center;
  padding: 0.2em;
  line-height: 1.3em;
  max-width: 90vw;
  transition: 0.3s;
}

html {
  height: 100%;
  direction: rtl !important;
  font-family: calibri;
  cursor: none;
}
body {
  color: rgb(23, 23, 23);
  min-height: calc(100% - 10vh);
  padding: 5vh 5vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

.dark {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 150ms ease-in-out; /* Adjust the duration and timing function as needed */
}

.fade-in-out.hide {
  opacity: 0;
}

.bold {
  font-weight: 700;
}

.chorusSymbol,
.verseNumber {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.5em, -0.5em);
  display: block;
  font-size: 0.65em;
  color: var(--primary);
}
