:root {
  --primary: #ff7e67;
  --secondary: #07689f;
  --gray-1: rgba(221, 221, 221, 0.7);
  --gray-2: rgba(221, 221, 221, 0.9);
}

#content {
  position: relative;
  font-size: 6.5vw;
  text-align: center;
  padding: 2rem;
  line-height: 1.25em;
  transition: 0.3s;
}

html {
  height: 100%;
  direction: rtl !important;
  font-family: calibri;
}
body {
  color: rgb(23, 23, 23);
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.dark {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 150ms ease-in-out; /* Adjust the duration and timing function as needed */
}

.fade-in-out.hide {
  opacity: 0;
}

.bold {
  font-weight: 700;
}

.chorusSymbol, .verseNumber{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 0.65em;
  color: var(--primary);
}