#content {
  font-size: 6vw;
  text-align: center;
  padding: 2rem;
  line-height: 1.25em;
}

html {
  height: 100%;
  direction: rtl !important;
  font-family: calibri;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 150ms ease-in-out; /* Adjust the duration and timing function as needed */
}

.fade-in-out.hide {
  opacity: 0;
}
